@use "variables";

.select2-container--bootstrap-5 {
    .select2-selection--single {
        padding: variables.$s2bs5-padding-y variables.$s2bs5-indicator-padding variables.$s2bs5-padding-y variables.$s2bs5-padding-x;
        background-image: escape-svg(variables.$s2bs5-indicator);
        background-repeat: no-repeat;
        background-position: variables.$s2bs5-bg-position;
        background-size: variables.$s2bs5-bg-size;

        // Rendered view
        .select2-selection__rendered {
            padding: 0;
            font-weight: variables.$s2bs5-font-weight;
            line-height: variables.$s2bs5-line-height;
            color: variables.$s2bs5-color;

            // Placeholder
            .select2-selection__placeholder {
                font-weight: variables.$s2bs5-font-weight;
                line-height: variables.$s2bs5-line-height;
                color: variables.$s2bs5-placeholder-color;
            }

            // Disable arrow
            .select2-selection__arrow {
                display: none;
            }
        }
    }
}
